.city_main {
    width: 100px;
    height: 100px;
}

.city_heading {
    font-size: 24px;
    font-weight: bold;
}

.city_temp, .text {
    font-size: 34px;
}

.city {
    border-bottom: 1px solid red;
}

.city_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

